@import 'variables';
@import 'mixins';
.myaudio__controls {
  display: flex;
  align-items: center;
  line-height: 1;
  text-align: center;
  pointer-events: none;
  border-radius: 6px;
  padding: $myaudio-control-spacing;
  background: $myaudio-audio-controls-bg;
  border: $myaudio-audio-controls-border;
  color: $myaudio-audio-control-color;

  & > * {
    pointer-events: all;
  }

  // 按钮间隙
  > button,
  .myaudio__progress,
  .myaudio__time,
  .myaudio__volume {
    margin-left: ($myaudio-control-spacing / 2);
    &:first-child {
      margin-left: 0;
    }
  }

  button {
    padding: ($myaudio-control-spacing * 0.7);
    border: 0;
    background: transparent;
    cursor: pointer;
    color: inherit;

    svg {
      width: $myaudio-control-icon-size;
      height: $myaudio-control-icon-size;
      display: block;
      fill: currentColor;
    }

    &:focus {
      outline: 0;
    }
  }

  .icon--muted {
    display: none;
  }

  // 进度条按钮 -----------------------------------------------------------
  input[type='range'] {
    display: block;
    height: ($myaudio-range-thumb-height * $myaudio-range-thumb-active-scale);
    width: 100%;
    margin: 0;
    padding: 0;
    appearance: none;
    cursor: pointer;
    border: none;
    background: transparent;
    position: relative;
    z-index: 2;

    &::-webkit-slider-runnable-track {
      background: transparent;
    }
    &::-moz-range-track {
      background: transparent;
    }
    &::-ms-fill-upper {
      background: transparent;
    }
    // WebKit
    &::-webkit-slider-runnable-track {
      @include myaudio-range-track();
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      margin-top: -(($myaudio-range-thumb-height - $myaudio-range-track-height) /
            2);
      @include myaudio-range-thumb();
    }

    // Mozilla
    &::-moz-range-track {
      @include myaudio-range-track();
    }
    &::-moz-range-thumb {
      @include myaudio-range-thumb();
    }

    // Microsoft
    &::-ms-track {
      height: $myaudio-range-track-height;
      background: transparent;
      border: 0;
      color: transparent;
    }
    &::-ms-fill-upper {
      @include myaudio-range-track();
    }
    &::-ms-fill-lower {
      @include myaudio-range-track();
      background: $myaudio-range-selected-bg;
    }
    &::-ms-thumb {
      @include myaudio-range-thumb();
      // For some reason, Edge uses the -webkit margin above
      margin-top: 0;
    }
    &::-ms-tooltip {
      display: none;
    }

    // Focus styles
    &:focus {
      outline: 0;
    }
    &::-moz-focus-outer {
      border: 0;
    }
    &.tab-focus:focus {
      outline-offset: 3px;
    }

    // Pressed styles
    &:active {
      &::-webkit-slider-thumb {
        @include myaudio-range-thumb-active();
      }
      &::-moz-range-thumb {
        @include myaudio-range-thumb-active();
      }
      &::-ms-thumb {
        @include myaudio-range-thumb-active();
      }
    }
  }
  @media (min-width: $myaudio-bp-screen-sm) {
    > button,
    .myaudio__progress,
    .myaudio__time {
      margin-left: $myaudio-control-spacing;
    }
  }

}

.myaudio__progress {
  display: flex;
  flex: 1;
  position: relative;
}

// 进度条及声音条样式 -----------------------------------------------------------
.myaudio__progress--buffer,
.myaudio__progress--played,
.myaudio__volume--display {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: $myaudio-range-track-height;
  margin: -($myaudio-range-track-height / 2) 0 0;
  padding: 0;
  vertical-align: top;
  appearance: none;
  border: none;
  border-radius: 100px;

  &::-webkit-progress-bar {
    background: transparent;
  }
  &::-webkit-progress-value {
    background: currentColor;
    border-radius: 100px;
    min-width: $myaudio-range-track-height;
  }
  &::-moz-progress-bar {
    background: currentColor;
    border-radius: 100px;
    min-width: $myaudio-range-track-height;
  }
  &::-ms-fill {
    border-radius: 100px;
  }
}

.myaudio__progress--played,
.myaudio__volume--display {
  z-index: 1;
  color: $myaudio-range-selected-bg;
  background: transparent;
  transition: none;

  &::-webkit-progress-value {
    min-width: $myaudio-range-track-height;
    max-width: 99%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: none;
  }
  &::-moz-progress-bar {
    min-width: $myaudio-range-track-height;
    max-width: 99%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: none;
  }
  &::-ms-fill {
    display: none;
  }
}
.myaudio__progress--buffer {
  &::-webkit-progress-value {
    transition: width 0.2s ease;
  }
  &::-moz-progress-bar {
    transition: width 0.2s ease;
  }
  &::-ms-fill {
    transition: width 0.2s ease;
  }
}
.myaudio__progress--buffer,
.myaudio__volume--display {
  background: $myaudio-audio-range-track-bg;
}
.myaudio__progress--buffer {
  color: $myaudio-audio-progress-buffered-bg;
}

// 时间 -----------------------------------------------------------
.myaudio__time {
  display: inline-block;
  vertical-align: middle;
  font-size: $myaudio-font-size-small;
}
// Media duration hidden on small screens
.myaudio__time + .myaudio__time {
  display: none;

  @media (min-width: $myaudio-bp-screen-md) {
    display: inline-block;
  }

  // Add a slash in before
  &::before {
    content: '\2044';
    margin-right: $myaudio-control-spacing;
  }
}

// 声音 -----------------------------------------------------------
.myaudio__volume {
  display: none;
  flex: 1;
  position: relative;
  input[type='range'] {
    position: relative;
    z-index: 2;
  }

  @media (min-width: $myaudio-bp-screen-sm) {
    display: block;
    max-width: 60px;
  }

  @media (min-width: $myaudio-bp-screen-md) {
    max-width: 100px;
  }
}


// 加载样式 -----------------------------------------------------------
.myaudio--loading .myaudio__progress--buffer {
  animation: myaudio-progress 1s linear infinite;
  background-size: $myaudio-progress-loading-size $myaudio-progress-loading-size;
  background-repeat: repeat-x;
  background-image: linear-gradient(
    -45deg,
    $myaudio-progress-loading-bg 25%,
    transparent 25%,
    transparent 50%,
    $myaudio-progress-loading-bg 50%,
    $myaudio-progress-loading-bg 75%,
    transparent 75%,
    transparent
  );
  color: transparent;
  background-color: $myaudio-audio-progress-buffered-bg;
}

@keyframes myaudio-progress {
  to {
    background-position: $myaudio-progress-loading-size 0;
  }
}
